<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.wx.dao.TbMenuitemMapper" >
  <resultMap id="BaseResultMap" type="com.wpj.wx.daomain.TbMenuitem" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="menuItem_id" property="menuitemId" jdbcType="INTEGER" />
    <result column="Link" property="link" jdbcType="VARCHAR" />
    <result column="Menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="subCols" property="subCols" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="AllMessageMap" extends="BaseResultMap" type="com.wpj.wx.daomain.TbMenuitem">
  </resultMap>
</mapper>